{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Your Carbon Score{% endblock title %}

{% block content %}

  <div class="pl-10 pb-16 flex relative justify-between h-[600px] overflow-hidden smooth-scroll" style="background-color:rgb(137,189,43);background:linear-gradient(0deg, rgb(186,215,139) 0%, white 100%);">
    <div class="w-1/2">
      <h1 class="text-left text-black text-8xl font-bold pt-[200px] drop-shadow-lg">Conserve <span class="text-green-900">Our Nature</span>
      </h1>
      <h1 class="text-left text-gray-700 font-normal text-2xl pt-2 pb-10 ">Cut Carbon and care for the planet</h1>
      
    </div>    
    <img
      src="{% static 'images/banner_img.png' %}"
      class="float-right h-3/4 absolute top-[120px] right-[-150px]"
      alt="Idea"
      />    
  </div>
  <div class="h">
    {% comment %} <img src="{% static 'images/bg-img.jpg' %}" class="object-cover w-full " alt=""> {% endcomment %}
  </div>
  <div id="carbon_score" class="mt-16">
    <!-- <h3 class="py-4  text-center text-green-700 text-4xl font-bold pt-16 drop-shadow-lg  hover:underline-offset-8">
      Calculate your Carbon score</h3> -->
     
      <div class="flex flex-row gap-4 p-16 mx-28">
       
          <img class="flex-1 h-56 md:h-auto object-cover w-1/2 py-8" src="{% static 'images/carbon_score.jpeg' %}" alt="" />
         <div class=" flex-2">
          <div class=" p-6 flex flex-col justify-center items-center text-center">
            <h5 class="text-gray-900 text-3xl font-bold font-medium mb-2">CALCULATE YOUR CARBON SCORE</h5>
           <br><br>
            <p class="text-gray-700 text-base mb-4">
                The carbon score is a measure of the environmental impact of a product or service in terms of its carbon footprint.
                Carbon scores are just one aspect of a product or service's environmental impact, and may not capture other important considerations such as resource depletion, water use, or biodiversity loss. However, they can be a useful tool for consumers who are interested in reducing their carbon footprint and mitigating the impacts of climate change.
            </p>
            <button class="w-64 mt-6 bg-green-700 hover:bg-white text-white font-semibold hover:text-green-500 py-2 px-4 border border-green-500 hover:border-transparent rounded">
                Check Carbon Score
              </button>
          </div>
        </div>
        </div>
    
  </div>

  <div class="mx-20">

  <form>
    <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Plant Species</label>
      <input type="text" id="email" class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 
      dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>
    <div class="mb-6">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 text-black">Light Intensity</label>
      <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>
    <div class="mb-6">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 text-black">Carbon Emission</label>
        <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
      </div>
      <div class="mb-6">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 text-black">Temperature</label>
        <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
      </div>
    <div class="flex items-start mb-6">
      <div class="flex items-center h-5">
        <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
      </div>
      <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
  </form>
</div>
 
  
 {% endblock content %}