{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Your Carbon Score{% endblock title %}

{% block content %}

  <div class="pl-10 pb-16 flex relative justify-between h-[600px] overflow-hidden smooth-scroll" style="background-color:rgb(137,189,43);background:linear-gradient(0deg, rgb(186,215,139) 0%, white 100%);">
    <div class="w-1/2">
      <h1 class="text-left text-black text-8xl font-bold pt-[200px] drop-shadow-lg">Conserve <span class="text-green-900">Our Nature</span>
      </h1>
      <h1 class="text-left text-gray-700 font-normal text-2xl pt-2 pb-10 ">Cut Carbon and care for the planet</h1>
      
    </div>    
    <img
      src="{% static 'images/banner_img.png' %}"
      class="float-right h-3/4 absolute top-[120px] right-[-150px]"
      alt="Idea"
      />

      
  </div>
  <div class="h">
    {% comment %} <img src="{% static 'images/bg-img.jpg' %}" class="object-cover w-full " alt=""> {% endcomment %}
  </div>
  {% comment %} <div id="BU_PROGRAMS" class="mt-16">
    <h3 class="py-4  text-center text-red-700 text-6xl font-bold pt-16 drop-shadow-lg  hover:underline-offset-8">
      BU PROGRAMS</h3>
  </div> {% endcomment %}
  <!-- <div class="flex justify-center"> -->


  {% comment %} <div class="grid grid-cols-5 gap-y-10 gap-x-5 flex justify-center m-7">

    {% for bussiness_unit in bussiness_units %}
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        {% if bussiness_unit.image %}
          <img class="w-full" src="{{ bussiness_unit.image.url }}" alt="{{ bussiness_unit.name }}">
        {% endif %}
        <div class="px-6 py-4 flex flex-col justify-center items-center">
          <div class="font-bold text-xl mb-2">{{ bussiness_unit.name }}</div>

        </div>
        <!-- <div class="px-6 pt-4 pb-2">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Consult</span>
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Strategy</span>
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Talent</span>
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Resources</span>

        </div> -->
        <div class="p-5 flex flex-col justify-center items-center">
          <a href="{% url 'new_submission' %}?bu_id={{ bussiness_unit.id }}">
            <button
              class="bg-red-700 hover:bg-white text-white text-xl hover:text-red-700 font-semibold hover:font-bold py-2 px-4 border border-white hover:border-red-700 rounded">
              Submit idea
            </button>
          </a>
        </div>
      </div>
    {% endfor %}
  </div> {% endcomment %}
  {% comment %} <div id="IDEA_CHAMPIONS"  class="mt-28">
    <h3 class="text-center text-6xl mt-12 text-red-700 text-6xl font-bold py-2 drop-shadow-lg hover:underline-offset-8">
      KNOW YOUR IDEA CHAMPIONS </h3>
  </div> {% endcomment %}
  
 {% endblock content %}